body {
    font-family: Roboto;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
    color: #f9faf8;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    color: #e5e7eb;
    margin: 8px 16px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
    
}

#top-img {
    width: 450px;
    height: auto;
    margin-bottom: 58px;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-wrap: wrap;
    
}

.text {
    max-width: 450px;
    
}

