body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}


/* Block one */

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    padding: 0px 350px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;    
}

.logo {
    font-size: 24px;
    color: #e5e7eb;
    font-weight: bold;
}


.nav {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
}

.intro {
    background-color: #1f2937;
    display: flex;
    color: #e5e7eb;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 350px;
}

.main-head {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    margin-bottom: 0;   
}

#top-img {
    width: 450px;
    height: auto;
    margin-bottom: 58px;

}

.button-one {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    border: 0;

}

.text {
    max-width: 450px;
}

/* Block 2 */

.body {
    display: flex;
    padding: 0 350px;
    flex-direction: column;
}

.header-two {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-items: center;
}

.imgs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 58px;
}

.small-img {
    width: 225px;
    height: 180px;
    border-radius: 8px;
    border: solid;
    border-color: #3882f6;
}

.img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Block 3 */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 0px 350px;
}

.quote-para {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    padding-top: 58px;
}

.sig {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: bold;
}

/* Block 4 */

.block-four {
    display: flex;
    flex-direction: column; 
    padding: 30px 350px 30px 350px;
    margin: 30px 0px;
}

.sign-up {
    display: flex;
    background-color: #3882f6;
    flex-direction: row;
    border-radius: 12px;
    color: #e5e7eb;
    justify-content: space-around;
    padding: 50px 0;
}

.blockfour-text {
    display: flex;
    flex-direction:column;
}

.signup-para,
.bottom-header {
    margin: 0;
}

.bottom-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-two {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    width: 125px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    border-width: 3px;
}



/* BLock 5 */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}